body {
  height: 100vh;
  background: linear-gradient(darkblue, purple);
  align-content: center;
}
main {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 7%;
  background-color: rgba(179, 255, 255, 0.25);
}
h1,
h2,
h3 {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}
table {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.16);
}
